<h1 mat-dialog-title>Create new Note</h1>
<div mat-dialog-content>
  <form class="flex flex-col" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="warn" (click)="onNoClick()">Discard</button>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="{
      title: form.get('title')?.value,
      description: form.get('description')?.value
    }"
  >
    Create
  </button>
</div>
