<mat-toolbar color="primary">
  <div class="p-5 font-normal text-xs">
    <img class="w-10" src="assets/icon.png" alt="Marco Forster Icon" />
    <p>Marco Forster<br />Copyright © 2022 - All right reserved</p>
    <p class="flex items-center">
      Created with
      <ic-icon class="px-1" [icon]="angularIcon" [inline]="true"></ic-icon>
      &
      <ic-icon class="pl-1" [icon]="kotlinIcon" [inline]="true"></ic-icon>
      <ic-icon class="pr-1" [icon]="springIcon" [inline]="true"></ic-icon>
      by Marco Forster
    </p>
  </div>
</mat-toolbar>
